<h1>タスク管理</h2>
<h2>
  <ul>
    <li><button id="tasks-list">タスクの確認</button></li>
    <li><button id="task-new">タスクの作成</button></li>
  </ul>
  
</h2>
<div class="task__flash">
  <h3 class="task__flash_success"></h3>
</div>
<table id="tasks">

</table>

<div id="task">
  <h4>タスクの詳細</h4>
  <ul id="task-detail">
  </ul>
</div>


<div id="task-form">
  <%= render 'form' %>
  <button id="task-create">登録する</button>
</div>
