<div id="prefectureArea">
  <button v-model="prefectureLabel" @click="click">{{ prefectureLabel }} </button>
  <ul>
    <li v-for="prefecture in prefectures">
      {{ prefecture.id }} ：　{{ prefecture.name }}
    </li>
  </ul>
</div>


